.logos-3m {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/3m-423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-grupo-indus {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/grupoindustrialdosmil423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-gpm {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/GPM423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-idento {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/idento423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-imagen {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/mabe423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-kia {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/kia423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-museo {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/museodelautomovil423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-nissan {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/nissan423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-opticas {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/opticas-union423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-publicis {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/publicis423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-renault {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/renault423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}

.logos-vivens {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 90px;
  background: url(../images/clientes/vivens423C.svg);
  background-size: 180px 90px;
  margin-bottom: 20px;
}
